body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
}

.sidebar::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #0099ff;
  /* color of the scroll thumb */
  border-radius: 120px;
  /* roundness of the scroll thumb */
  border: 3px solid white;
  /* creates padding around scroll thumb */
}

.sidebar {
  width: 30vw;
  height: flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background: #ffffff;
  border-radius: 16px;
  overflow-y: scroll;
  padding-top: 20%;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}

.rowImg {
  display: flex;
  flex-direction: row;
}

.rowTitle {
  display: flex;
  justify-content: right;
  margin-left: 8%;
  margin-bottom: 40%;
}

.alignTitles {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  width: 80%;
  margin-bottom: 12%;
}

.h1Admin {
  margin-bottom: 12%;
}

.rack {
  width: 7vw;
  height: 14vh;
  border-radius: 16px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rack h1 {
  color: #ffffff;
}

.rack {
  background-color: #000000;
  border: none;
  z-index: 1;
}

.rack:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 16px;
  background-color: #0099ff;
  background-image: linear-gradient(315deg, #0099ff 0%, #0099ff 74%);
  box-shadow: transparent;
  transition: all 0.3s ease;
}

.rack:hover {
  color: rgb(255, 255, 255);
}

.rack:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}

.grafico1 {
  overflow: hidden;
  height: 300px;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
}

.rack:active {
  top: 2px;
}

.rowRacks {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8%;
  margin-bottom: 10%;
}

.buttonSidebarConfig {
  width: 100%;
  height: 16vh;
  margin-bottom: 30%;
  border-radius: 16px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 1.6em;
  line-height: 48px;
  color: #ffffff;
  gap: 10%;
  position: relative;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #000000;
  border: none;
  z-index: 1;
}

.buttonSidebarConfig h1 {
  color: #ffffff;
}

.buttonSidebarConfig:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: 16px;
  background-color: #0099ff;
  background-image: linear-gradient(315deg, #0099ff 0%, #0099ff 74%);
  box-shadow: transparent;
  transition: all 0.3s ease;
}

.buttonSidebarConfig:hover {
  color: rgb(255, 255, 255);
}

.buttonSidebarConfig:hover:after {
  left: 0;
  width: 100%;
}

.buttonSidebarConfig:active {
  top: 2px;
}

.divButton {
  width: 100%;
  height: 16vh;
  margin-bottom: 6%;
}

.main::-webkit-scrollbar {
  width: 12px;
}

.main::-webkit-scrollbar-thumb {
  background-color: #0099ff;
  border-radius: 120px;
  border: 3px solid white;
}

.main {
  width: 70vw;
  background-color: #f4f6f8;
  border-radius: 16px;
  overflow-y: scroll;
  padding-top: 5%;
  padding-left: 8%;
}

.card {
  margin-top: 4%;
  width: 28vw;
  height: 32vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.rowCard {
  display: flex;
  flex-direction: row;
  gap: 4%;
}

.rowCard h1 {
  font-size: 1.6em;
}

.cardDashboard {
 width: 700px;
 background-color: #fff;
 padding: 20px;
 border-radius: 20px;
 margin-top: 5px;
}
.containerGrafico {
  width: 100%;
}
.titulo1 {
  text-align: center;
}
